*{
    padding: 0%;
    margin: 0%;
    
}
.container{
    display: flex;
}
.red{
height: 30px;
width: 50%;
background-color: red;

}
.blue{
    width: 50%;
   height: 30px;
   background-color: blue;
}
.container2{
    display: flex;
}
.green2{
    width: 97%;
    height: 30px;
    background-color: green;
}
.blue2{
    height: 30px;
    background-color: blue;
    width: 3%;
}
.container3
{
    display: flex;
}
.red3{
    width: 3%;
    height: 30px;
    background-color: red;
}
.green3{
    background-color: green;
    width: 94%;
    height: 30px;
}
.blue3{
    width: 3%;
    background-color: blue;
    height: 30px;
}
.container4{
    display: flex;
}
.red4{
    height: 30px;
    width: 97%;
    background-color: red;
}
.blue4{
    height: 30px;
    width: 3%;
    background-color: blue;
}
.green5{
    width: 100%;
    height: 30px;
    background-color: green;
    display: flex;
    justify-content: center;
    align-content: center;
}
.red5{
    background-color: red;
    width: 24px;
    height: 24px;
    margin: 3px;
}
.red6{
    width: 100%;
    height: 30px;
    background-color: red;
    justify-content: center;
    display: flex;
}
.blue6{
    width: 3%;
    height: 30px;
    background-color: blue;

}
.container7{
    display: flex;
}
.red7{
    background-color: red;
    display: flex;
    width: 3%;
    height: 30px;
}
.blue7{
    background-color: blue;
    width: 97%;
    height: 30px;
}
.green7{
    background-color: green;
    width: 100%;
    height: 10px;
    margin-top: 10px;
}
.green8{
    background-color: green;
    width: 100%;
    height: 30px;
    justify-content: space-between;
    display: flex;
}
.yellow{
    background-color: yellow;
    width: 3%;
    height: 30px;

}
.yellow9{
    background-color: yellow;
    width: 100%;
    height: 30px;
    display: flex;
    /* justify-content: space-around; */
    justify-content: space-between;
}
.green9{
    background-color: green;
    width: 1%;
    height: 30px;
}
.green10{
    
}